

nav {
    display: flex;
    background-image: linear-gradient(to right, rgb(74, 29, 74), rgb(33, 33, 74));
    align-items: center;
    justify-content: space-between;
    color: white;
    box-shadow: 0 4px 10px rgb(48, 14, 60);
    min-height: 70px;
}

.navLogo {
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding-right: 20px;
}

nav ul li {
    padding: 0 10px;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 700px) {
    .navLogo{
        font-size: 20px;
    }
    nav ul li {
        padding: 1px;
        font-size: 15px;
    }


}



@media (max-width: 500px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* padding: 20px; */
    }

    nav ul li {
        padding: 1px;
    }

}